:root {
  --flickr-blue: rgb(0,129,240);
  --flickr-blue-lighter: rgb(18,147,255); /* a bit lighter blue for *dark-theme* link-text */
  --flickr-pink: rgb(255,0,159);
}

div#fixroptionspage {margin:1rem auto 2.5rem auto; max-width: 980px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px}
div#fixroptionspage>p {margin-left: 1rem; line-height: normal}
div#fixroptionspage a:link, div#fixroptionspage a:visited {color: var(--flickr-blue)}
div#fixroptionspage a:hover, div#fixroptionspage a:active {color: var(--flickr-pink)}
.ffo {display: none}
.isFirefox .ffo {display: inherit}
.small {font-size: 14px}
#fixroptions fieldset input {accent-color: var(--flickr-pink)}
#fixroptions fieldset div p img.demo {max-width: calc(100% - 2px); height:auto; border: 1px solid rgb(42, 42, 46)}
#fixroptions fieldset div ol {padding-left: 1.5em}
#fixroptions fieldset div li {}
#fixroptions fieldset {position:relative; border-color: rgba(170,170,170,.35)}
#fixroptions fieldset div label:active{color: var(--flickr-pink)}
#fixroptions fieldset .new::after {content: url(../icons/new27x14.png);margin-left:3px;vertical-align:bottom}
#fixroptions fieldset .newb::before {content: url(../icons/new27x14.png);margin-right:3px;vertical-align:bottom}
#fixroptions fieldset a {font-style: italic}
#fixroptions fieldset>p {font-style: italic}
#fixroptions fieldset .updated {color: var(--flickr-pink)}
#fixroptions fieldset div #slideshowSpeedControl_value {width: calc(100% - 1rem)}
#fixroptions:hover .updating {background-color: #fea}
/*#fixroptions .updating.toggle {animation:wink 3s ease 1s 1}*/
/*@keyframes wink {0% {background-color: revert}  50% {background-color: #fd0} 100% {background-color: revert}}*/

fieldset {
  --summary-toppadding: 16px;
}

details {
  position: relative;
  padding: 0 1rem 0 1rem;
  margin-block: 1rem 0;
  margin-inline: auto;
  border: 1px solid rgba(170,170,170,.25);
  border-radius: 0.3rem;
}

details:has(summary:hover) {
  border-color: var(--flickr-blue);
}

details[open] {
  border-color: var(--flickr-blue);
  box-shadow: 0 0 0 2px var(--flickr-blue);  /* Essentially just a thick outline/border (But dark theme will modify it to glow/light effect...) */
}

@media (prefers-color-scheme: dark) {
  body {background-color: rgb(42, 42, 46); color: rgb(249, 249, 250)}
  div#fixroptionspage a:link, div#fixroptionspage a:visited {color: var(--flickr-blue-lighter)}
  div#fixroptionspage a:hover, div#fixroptionspage a:active {color: var(--flickr-pink)}
  fieldset {border: 1px solid rgb(249, 249, 250)}
  #fixroptions:hover .updating {color: #fd0; background-color: revert}
  details[open] {box-shadow: 0 0 7px 2px var(--flickr-blue)} /* glow/light */
  /*@keyframes wink {0% {color: revert}  50% {color: #fd0} 100% {color: revert}}*/
}

summary {
  padding-left: 2rem;
  position: relative;
  font-weight: 700;
  cursor: pointer;
}

summary:hover:not(:has(input:hover)) {
  color: var(--flickr-pink);
}

.details::details-content {
  display: block;
  margin-inline: 0;
  block-size: 0;
  overflow: hidden;
  transition-property: block-size, content-visibility;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.details[open]::details-content {
  /* Fallback for browsers that don't support calc-size() function... */
  block-size: auto;
  /* calc-size() function allows transition to height:auto... */
  block-size: calc-size(auto, size);
}

/* List Item ::marker supports only some CSS properties, so we're using ::before pseudo-element instead */
summary::marker {
  content: '»';
  content: none;
}
summary::before {
  content: '»';
  position: absolute;
  inset-inline-start: .5rem;
  inset-block-start: calc(-0.05rem + var(--summary-toppadding));
  transition: rotate 0.2s;
}
.details[open] summary::before {
  rotate: 90deg;
  inset-block-start: calc(0.05rem + var(--summary-toppadding));
}

summary.details__summary {
  padding-top: var(--summary-toppadding);
  padding-bottom: var(--summary-toppadding);
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
summary.details__summary > span {
  flex-grow: 1;
}
summary.details__summary > input {
  flex-basis: content;
  transform: scale(2.5);
}

.details__content {
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: .8rem;
}
